@import url('https://fonts.googleapis.com/css2?family=Akshar&display=swap');

body {
  margin: 0;
  font-family: 'Akshar', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
